.time{
    font-family: comic sans ms;
    font-size: 16px;
}
.col-9{
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.col-9:hover{
    color: red;
}
.sec{
    color: rgba(255, 22, 22, 0.911);
}
mat-icon{
    padding-top: 10px;
}
mat-form-field{
    margin-top: 10px;
}
.main{
    height: 510px;
}
.prod{
    height: 230px;
    overflow-y: scroll;
}
