mat-card{
    margin-top: 10%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
a:hover{
    color: red;
    font-size: 35px;
}
p{
    opacity: .6;
}
.center{
    margin-left: 180px;
}