<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p mat-dialog-title><b>Popular Traders</b></p>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
        <div class="col-5">
            <p>Invoice</p>
        </div>
</div>
<mat-dialog-content class="mat-typography">
    <table class="table bordered">
        <thead>
            <tr>
              <th>Product_Name</th>
              <th>Product_Model</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of cartArray">
                <td>{{ a.productname }}</td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>