.sidenav{
    width: 250px;
}
.sidenav-body{
    height: 330px;
}
.sidenav-items{
    padding-left: 20px;
}
mat-icon{
    margin-right: 10px;
}
li{
    padding: 4px;
    display: flex;
}
b{
    font-size: large;
}   

.greeting{
    /* margin-top: 40px; */
    margin-left: 50px;
    font-size: 18px;
}
.choose{
    margin-left: 50px;
}
a:active,a:hover{
    text-decoration: none;
    color: black;
}
.welcome{
    font-size: 15px;
}
mat-card{
    height: 90px;
    width: 300px;
    margin: 40px 0px;
    overflow: hidden;
}
.box2:hover{
    background-color: rgb(182, 61, 25);
    color: whitesmoke;
    transform: scale(1.1);
}

.box:hover{
    background-color: rgb(40, 9, 164);
    color: whitesmoke;
    transform: scale(1.1);
}
.box2{
    box-shadow:  7px 4px 30px  gray;
    transition: transform .2s;
}
.box{
    box-shadow:  7px 4px 30px  gray;
    transition: transform .2s;
}
.card-icon{
    font-size: 50px;
    margin-right: 40px;
    margin-left: 20px;
}
.card-content{
    margin-top: 15px;
    font-size: 18px;
}
span{
    /* font-size: 30px; */
    font-family: comic sans ms;

    margin-left: 30px;

}
.chart-card{
    margin-left: 40px;
    height: 400px;
    width: 90%;
    box-shadow:  7px 4px 30px  gray;
}
.chart{
    padding-left: 80px;
    width: 80%;
}
.logger{
    width: 300px;
    height: 200px;
}
.card-head{
    font-weight: 400;
    font-family: comic sans ms;
    font-size: 20px;
}
.example-container,mat-toolbar{
    background-color: white;
    /* width: 90%; */
}
